* {
    margin: 0 auto;
}

body {
    height: 100vh;
}

.header {
    height: 50px;
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    padding-top: 10px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    align-items: center;
    height: 350px;
    background-color: #1F2937;
    padding: 25px;
    gap: 20px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 213px;
    gap: 10px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.hero-secundary {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: none;
    margin: 0;
    padding: 5px;
    width: 90px;
}

img {
    width: 790px; 
    height: 200px;
    border: 1px solid red;
}

.info {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-quote {
    color: #1F2937;
}

.information-itens {
    display: flex;
}

.info-img{
    border-radius: 10px;
    border: 4px solid #3882F6;
    width: 100px;
    height: 100px;
}

